.products {
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
  }

  &__title {
    @extend h2;
    text-align: center;
    max-width: 80rem;
  }

  &__refresh-icon {
    display: none;

    @media (max-width: $tablet-width) {
      width: 6rem;
      height: 6rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10rem;
      border: 0.1rem solid $clr-border-dark;
    }
  }

  &__refresh-icon.products__refresh-icon_fetch-made {
    display: none;
  }

  &__refresh-icon.products__refresh-icon_no-fetch {
    display: none;
  }

}
